<a href="https://colab.research.google.com/github/guzik1234/DataScienceCwiczenia/blob/main/python_pandas/Untitled29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.DataFrame(np.random.randn(10,3), columns=list('ABC'))
df_2 = pd.DataFrame(np.random.randn(10,3), columns=list('ABC'))

In [3]:
df_1 + df_2

          A         B         C
0 -0.020086  1.842926  4.260865
1 -1.193990 -1.637876  1.205790
2 -1.206911  1.816011 -1.192054
3  1.263669 -0.712032 -1.647529
4 -0.548346  0.381391 -1.058842
5 -1.322025  2.442910  0.104139
6 -1.714975 -1.898315 -3.392209
7 -1.253451 -0.462565 -0.944640
8 -1.224383 -2.890353  0.760561
9 -0.099814 -0.381669 -1.797243

In [4]:
df_1 - df_2

          A         B         C
0  0.536727  0.465583  1.185697
1  1.737282  1.020653  1.225905
2 -0.140339  2.027124  0.745216
3  3.148843 -1.652422 -0.334791
4 -1.286619 -0.224143  0.917353
5  0.502101 -0.848436  0.317725
6  3.621267 -0.566428  2.383349
7  1.746251 -0.681830 -3.177180
8 -1.387950 -0.074645 -3.508037
9 -0.819744  0.263059  1.810664

In [5]:
df_1 * df_2

          A         B         C
0 -0.071918  0.794902  4.187274
1 -0.398135  0.410227 -0.012228
2  0.359235 -0.202835  0.216411
3 -2.079588 -0.555877  0.650567
4 -0.338676  0.023805  0.069903
5  0.373911  1.311991 -0.022526
6 -2.543109  0.820689  1.456682
7 -0.369564 -0.062731 -2.300532
8 -0.106823  2.087142 -2.931967
9 -0.165504  0.019118 -0.012106

In [6]:
df_1/df_2

           A          B           C
0  -0.927855   1.676059    1.771143
1  -0.185344   0.232167 -120.890098
2   1.263160 -18.204106    0.230653
3  -2.340639  -2.514332    1.510065
4  -2.485481   0.259686    0.071597
5   0.449489   0.484444   -1.975149
6  -0.357235   1.850565    0.174678
7  -0.164283  -5.219237   -1.846247
8 -15.970945   1.053021   -0.643648
9  -1.277288   0.183970   -0.003720

In [7]:
df_1 ** 2

          A         B         C
0  0.066729  1.332303  7.416262
1  0.073792  0.095241  1.478286
2  0.453771  3.692422  0.049916
3  4.867565  1.397660  0.982398
4  0.841774  0.006182  0.005005
5  0.168069  0.635587  0.044492
6  0.908488  1.518739  0.254450
7  0.060713  0.327410  4.247351
8  1.706071  2.197803  1.887156
9  0.211397  0.003517  0.000045

In [8]:
(df_1 ** 2) + df_2

          A         B         C
0 -0.211677  2.020974  8.953846
1 -1.391844 -1.234023  1.468229
2 -0.079515  3.586865 -0.918719
3  3.924978  1.867855  0.326029
4  1.210910  0.308949 -0.983093
5 -0.743994  2.281260 -0.062301
6 -1.759633  0.852796 -2.633329
7 -1.439138  0.437043  5.363621
8  1.787855  0.789949  4.021454
9  0.571362 -0.318847 -1.803909

In [9]:
df = pd.read_csv('aapl_us_d.csv', index_col=0)

In [12]:
sample_10 = df.sample(10)
sample_10

            Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen
Data
2003-12-08    1.3054     1.3242     1.2827      1.3229   42141057.0
1997-05-28    0.5454     0.5504     0.5337      0.5337   24885991.0
2004-05-19    1.7211     1.7276     1.6595      1.6621  106773388.0
2007-09-04   17.5860    18.3070    17.5670     18.1110  372803536.0
2015-04-06  116.0300   118.8800   115.9000    118.7200   39894572.0
2008-05-21   23.3170    23.6180    22.1410     22.3860  328860079.0
1991-05-02    1.4999     1.5629     1.4924      1.5389  230590261.0
2010-11-09   40.3280    40.3650    39.5100     39.7090  108686568.0
2011-06-08   41.7080    42.0610    41.5400     41.7370   94786396.0
1987-06-01    1.2474     1.2474     1.2161      1.2197   23682447.0

In [13]:
simple_10_procent = df.sample(frac=0.1)

In [14]:
df = pd.DataFrame(np.random.randint(0,10,100))
df

    0
0   7
1   9
2   7
3   8
4   1
.. ..
95  2
96  3
97  0
98  9
99  2

[100 rows x 1 columns]

In [15]:
df_unique = df.drop_duplicates()
df_unique

    0
0   7
1   9
3   8
4   1
5   6
6   3
9   4
12  5
13  0
23  2

In [16]:
df_raw = pd.read_clipboard()
df_raw

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error