<a href="https://colab.research.google.com/github/guzik1234/DataScienceCwiczenia/blob/main/python_pandas/Untitled26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('aapl_us_d.csv', index_col=0)
df.columns = ['open', 'high', 'low', 'close', 'volume']

In [14]:
df

                 open       high        low      close      volume
Data
1984-09-07    0.41583    0.42087    0.41079    0.41583  23669718.0
1984-09-10    0.41583    0.41708    0.40581    0.41334  18371562.0
1984-09-11    0.41708    0.42839    0.41708    0.42087  43321235.0
1984-09-12    0.42087    0.42337    0.40828    0.40828  37844792.0
1984-09-13    0.43093    0.43215    0.43093    0.43093  58941865.0
...               ...        ...        ...        ...         ...
2019-05-06  204.29000  208.84000  203.50000  208.48000  32443113.0
2019-05-07  205.88000  207.41800  200.82500  202.86000  38763698.0
2019-05-08  201.90000  205.34000  201.75000  202.90000  26339504.0
2019-05-09  200.40000  201.68000  196.66000  200.72000  34908607.0
2019-05-10  197.41900  198.85000  192.77000  197.18000  41208712.0

[8738 rows x 5 columns]

In [20]:
open_price = df['open']
open_price = df.iloc[:,0]
high_price = df['high']

In [22]:
close_price = df.close
volume = df.volume

In [23]:
last_column = df.iloc[:,-1]

In [24]:
two = df[['open', 'close']]
two

                 open      close
Data
1984-09-07    0.41583    0.41583
1984-09-10    0.41583    0.41334
1984-09-11    0.41708    0.42087
1984-09-12    0.42087    0.40828
1984-09-13    0.43093    0.43093
...               ...        ...
2019-05-06  204.29000  208.48000
2019-05-07  205.88000  202.86000
2019-05-08  201.90000  202.90000
2019-05-09  200.40000  200.72000
2019-05-10  197.41900  197.18000

[8738 rows x 2 columns]

In [26]:
three = df.iloc[:,[0,3]]
three

                 open      close
Data
1984-09-07    0.41583    0.41583
1984-09-10    0.41583    0.41334
1984-09-11    0.41708    0.42087
1984-09-12    0.42087    0.40828
1984-09-13    0.43093    0.43093
...               ...        ...
2019-05-06  204.29000  208.48000
2019-05-07  205.88000  202.86000
2019-05-08  201.90000  202.90000
2019-05-09  200.40000  200.72000
2019-05-10  197.41900  197.18000

[8738 rows x 2 columns]

In [28]:
from_open_to_close = df.iloc[:,0:4]
from_open_to_close

                 open       high        low      close
Data
1984-09-07    0.41583    0.42087    0.41079    0.41583
1984-09-10    0.41583    0.41708    0.40581    0.41334
1984-09-11    0.41708    0.42839    0.41708    0.42087
1984-09-12    0.42087    0.42337    0.40828    0.40828
1984-09-13    0.43093    0.43215    0.43093    0.43093
...               ...        ...        ...        ...
2019-05-06  204.29000  208.84000  203.50000  208.48000
2019-05-07  205.88000  207.41800  200.82500  202.86000
2019-05-08  201.90000  205.34000  201.75000  202.90000
2019-05-09  200.40000  201.68000  196.66000  200.72000
2019-05-10  197.41900  198.85000  192.77000  197.18000

[8738 rows x 4 columns]

In [30]:
from_open_to_close = df.iloc[:,:-1]
from_open_to_close

                 open       high        low      close
Data
1984-09-07    0.41583    0.42087    0.41079    0.41583
1984-09-10    0.41583    0.41708    0.40581    0.41334
1984-09-11    0.41708    0.42839    0.41708    0.42087
1984-09-12    0.42087    0.42337    0.40828    0.40828
1984-09-13    0.43093    0.43215    0.43093    0.43093
...               ...        ...        ...        ...
2019-05-06  204.29000  208.84000  203.50000  208.48000
2019-05-07  205.88000  207.41800  200.82500  202.86000
2019-05-08  201.90000  205.34000  201.75000  202.90000
2019-05-09  200.40000  201.68000  196.66000  200.72000
2019-05-10  197.41900  198.85000  192.77000  197.18000

[8738 rows x 4 columns]