<a href="https://colab.research.google.com/github/guzik1234/DataScienceCwiczenia/blob/main/python_pandas/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame(data=[12,34,23])
print(df)

    0
0  12
1  34
2  23

In [14]:
df = pd.DataFrame(data=[[12,53,32],[54,23,65]], index=['first', 'second'], columns=['col1', 'col2', 'col3'])
print(df)

        col1  col2  col3
first     12    53    32
second    54    23    65

In [15]:
df = pd.DataFrame(data=[[12,53,32],[54,23,65], [325,254,333]], index=['first', 'second', 'trird'], columns=['col1', 'col2', 'col3'])
print(df)

        col1  col2  col3
first     12    53    32
second    54    23    65
trird    325   254   333

In [16]:
d = {'one': pd.Series([1,2,3]), 'two': pd.Series([4,5,6]), 'flag': ['yes','no', 'no']}
df = pd.DataFrame(d)
print(df)

   one  two flag
0    1    4  yes
1    2    5   no
2    3    6   no

In [17]:
d = {'one': pd.Series([1,2,3,7,8]), 'two': pd.Series([4,5,6]) }
df = pd.DataFrame(d)
print(df)

   one  two
0    1  4.0
1    2  5.0
2    3  6.0
3    7  NaN
4    8  NaN

In [19]:
d = {'one': pd.Series(np.random.randn(100)),
     'two': pd.Series(np.random.randn(100)),
     'three': pd.Series(np.random.randn(100)),}
df = pd.DataFrame(d)
print(df)

         one       two     three
0  -0.420257  0.181766 -1.660250
1   0.290884  0.863903  0.057253
2  -0.843796 -2.004964 -1.448248
3  -0.513708  0.668336 -0.473625
4  -0.004156  1.080967 -0.481403
..       ...       ...       ...
95 -2.995129 -0.377456  0.700930
96 -0.404697 -0.586267  1.792943
97 -0.013403 -1.413292  0.414703
98 -0.057018  0.362027 -0.543942
99 -0.716517 -0.462964  0.527665

[100 rows x 3 columns]

In [20]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [21]:
df.columns

Index(['one', 'two', 'three'], dtype='object')

In [23]:
list_of_dicts = [{'apple': 2, 'orange': 3},
 {'apple': 1, 'orange': 4, 'mango': 5}]

df = pd.DataFrame(list_of_dicts)
print(df)

   apple  orange  mango
0      2       3    NaN
1      1       4    5.0

In [25]:
for col in df.columns:
  print(col)

apple
orange
mango

In [27]:
big_letters = [col.upper() for col in df.columns]
print(big_letters)
df.columns = big_letters
print(df.columns)
df

['APPLE', 'ORANGE', 'MANGO']
Index(['APPLE', 'ORANGE', 'MANGO'], dtype='object')

   APPLE  ORANGE  MANGO
0      2       3    NaN
1      1       4    5.0

In [28]:
d = {'Wig20': ['PKN orlen', 'pko BP', 'LPP'],
     'mWig40': ['Amica', 'playway', 'benefit']}
df = pd.DataFrame(data=d)
print(df)
#

       Wig20   mWig40
0  PKN orlen    Amica
1     pko BP  playway
2        LPP  benefit